@font-face {
    font-family: 'poppins';
    src: url('./assets/font/Poppins/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar>*:not(.nav-links) {
    margin-right: 20px;
}

.nav-links {
    margin-left: auto;
}


.topics {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    margin: 0 20px;
    justify-content: flex-start;
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 8px;
    list-style: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scrollbar-width: thin;
    max-width: calc(100% - 200px);
    padding: 4px 8px;
}


.topics::-webkit-scrollbar {
    height: 6px;
}

.topics::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    opacity: 1 !important;
    visibility: visible !important;
}

.topics::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d7d5d5;
}

.topics::-webkit-scrollbar-thumb:hover {
    background: #eae9e9;
}

.topics li {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px;
    text-align: left;
    border-radius: 5px;
    background-color: #e2dfdf;


}

.topics a {
    color: #0b0909;
    text-decoration: none;
    padding: 4px 10px;

}

.topics li.active-topic {
    background-color: #258CF4FF !important;
    border-color: #1a6dc1 !important;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(37, 140, 244, 0.3);
}

.topics li.active-topic a {
    color: white !important;
    font-weight: 800;
}

.topics li:hover {
    background-color: #e0e0e0;
    transform: translateY(-1px);
    transition: all 0.2s ease;
}

.topics li:hover a {
    color: #5e5c5c;
}

.topics li {
    transition: all 0.3s ease;
}

.topics a {
    transition: color 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;

}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.logo {
    color: #258CF4FF;
    height: 30px;
    display: flex;
    gap: 3px;
    width: fit-content;
    align-content: center;
    font-size: 20px;
    margin-left: 5px;

}

.logo img {
    background-color: rgba(52, 143, 233, 0.545);
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    top: 72px;
    left: -10px;
    width: 280px;
    margin: 20px;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #dfdede66;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';

}

.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.lesson-list li {
    position: relative;
    margin-bottom: 15px;
    padding: 0px 0px 0px 28px;
    border-radius: 8px;
    height: 40px;
    align-items: center;
    display: flex;
}

.lesson-list li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./assets/lucide-ChevronRight-Outlined.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.lesson-list a {
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;

}

.lesson-list li:hover {
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    font-size: 16px;

}

.menubtn {
    display: none;
}

.main {
    margin-left: 190px;
    padding-left: 170px;
    margin-top: 80px;
    padding-right: 50px;
    font-size: 16px;
    font-family: 'poppins';
    line-height: 25px;
}

.images {
    width: "40%";
    display: block;
    height: auto;
    margin: 4px auto;
    text-align: center;
}

#a1 {
    scroll-margin-top: 100px;
}

#a2 {
    scroll-margin-top: 100px;
}

#a3 {
    scroll-margin-top: 100px;
}

#a4 {
    scroll-margin-top: 100px;
}

#a5 {
    scroll-margin-top: 100px;
}

@media(max-width: 900px) {
    .navbar {
        padding: 15px 10px;
        flex-wrap: wrap;
        z-index: 1;
    }

    .topics {
        max-width: calc(100% - 120px);
        margin-right: 15px;
        order: 2;
        margin: 0 10px;
    }

    #sidebar {
        position: fixed;
        left: -300px;
        margin-left: 0px;
        margin-right: 20px;
        transition: left 0.5s ease;
        z-index: 1001;
        width: 300px;
    }

    #sidebar.active {
        left: -10px;
        background-color: #ede0e0;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 1000;
    }

    #overlay.active {
        opacity: 1;
        pointer-events: auto;
    }

    #menubtn {
        display: block;
        padding: 0px;
        position: relative;
        background-color: white;

        top: 150px;
        left: 0px;
        color: #258CF4FF;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        z-index: 0;
        border: none;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .menubtn img {
        width: 40px;
        height: auto;
        pointer-events: none;
    }

    .main {
        width: 99%;
        padding-top: 35px;
        font-size: 16px;
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 120px;
        padding-left: 2px;
        padding-right: 2px;
    }

    #a1 {
        scroll-margin-top: 140px;
    }

    #a2 {
        scroll-margin-top: 140px;
    }

    #a3 {
        scroll-margin-top: 140px;
    }

    #a4 {
        scroll-margin-top: 140px;
    }

    #a5 {
        scroll-margin-top: 140px;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .main {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .topics {
        max-width: calc(100% - 80px);
    }

    .navbar>*:not(.nav-links) {
        margin-right: 10px;
    }

    .topics li {
        height: 28px;
    }

    .topics a {
        padding: 4px 8px;
        font-size: 14px;
    }
}

.nav-links a:hover,
.active {
    color: #0077cc;
}

footer {
    background-color: #dfdede66;
    width: 100%;
}

.footer-container {
    padding: 0px;
    display: flex;
    width: 100%;
    margin-top: 30px;
    height: auto;
    gap: 30px;
    padding-left: 10%;
}

.foot {
    flex: 1;
    padding: 20px 15px 0px 15px;
    display: flex;
    flex-direction: column;

}

.ic {
    align-items: center;
    justify-content: center;
    position: relative;
    right: 208px;
}

.foot>* {

    margin-bottom: 7px;
    margin-top: 0px;
}

.copyright {
    text-align: center;
    width: 100%;
    padding: 0px;

}

.foot span {
    font-size: 16px;
    color: #5F5F5FFF;


}

.foot .logo {
    color: #258CF4FF;
    display: flex;
    gap: 3px;
    height: fit-content;
    align-content: center;
    font-size: 20px;

}

.icon-links {

    padding-top: 0%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon-links img {
    width: 25px;

}